.u-section-1 .u-sheet-1 {
  min-height: 1785px;
}

.u-section-1 .u-image-1 {
  width: 522px;
  height: 328px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 84px auto 0 48px;
}

.u-section-1 .u-image-2 {
  width: 522px;
  height: 328px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -326px auto 0 48px;
}

.u-section-1 .u-image-3 {
  width: 522px;
  height: 328px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -328px auto 0 48px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -194px 158px 0 739px;
}

.u-section-1 .u-image-4 {
  width: 522px;
  height: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 232px auto 0 48px;
}

.u-section-1 .u-image-5 {
  width: 522px;
  height: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -319px auto 0 48px;
}

.u-section-1 .u-image-6 {
  width: 522px;
  height: 321px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -321px auto 0 48px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -191px 158px 0 739px;
}

.u-section-1 .u-image-7 {
  width: 522px;
  height: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 231px auto 0 48px;
}

.u-section-1 .u-image-8 {
  width: 522px;
  height: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -319px auto 0 48px;
}

.u-section-1 .u-image-9 {
  width: 522px;
  height: 321px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -321px auto 0 48px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -190px 158px 0 739px;
}

.u-section-1 .u-image-10 {
  width: 522px;
  height: 315px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 238px auto 0 48px;
}

.u-section-1 .u-image-11 {
  width: 522px;
  height: 315px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -315px auto 0 48px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -200px 158px 0 739px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 158px 84px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 563px;
    margin-right: 267px;
    margin-left: 639px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 567px;
    margin-right: 292px;
    margin-left: 639px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 546px;
    margin-right: 222px;
    margin-left: 639px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -199px;
    margin-right: 201px;
    margin-left: 639px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 205px;
    margin-left: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 224px;
    margin-left: 477px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 477px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 477px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 154px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -199px;
    margin-right: 168px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -166px;
    margin-right: 167px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 151px;
    margin-left: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 214px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 214px;
    margin-top: -212px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 214px;
    margin-top: -214px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 339px;
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 209px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 209px;
    margin-top: -207px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 209px;
    margin-top: -209px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -311px;
    margin-right: 106px;
    margin-left: 97px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 209px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 209px;
    margin-top: -207px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 209px;
    margin-top: -209px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -221px;
    margin-right: 105px;
    margin-left: 97px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 205px;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 205px;
    margin-top: -205px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -89px;
    margin-right: 95px;
    margin-left: 97px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-color: transparent !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-color: transparent !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before,
.u-section-1 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-9 {
  border-color: transparent !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-9 {
  border-color: transparent !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before,
.u-section-1 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-11 {
  border-color: transparent !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  box-shadow: 2px 2px 8px 4px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-11 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 3px rgba(128,128,128,1) !important;
  transform: scale(1.2) !important;
  color: #db545a !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 3px rgba(128,128,128,1) !important;
  transform: scale(1.2) !important;
  color: #db545a !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}